.container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(25.39deg, rgba(255, 255, 255, 0.024) 18.54%, rgba(123, 245, 93, 0.108) 62.25%);
  mix-blend-mode: normal;
  backdrop-filter: blur(120px);
  border-radius: 68px;
  // transform: matrix(-1, 0, 0, 1, 0, 0);
  padding: 7.5rem 76px;
}